{% extends "bookshelf/base.html" %}
{% load static %}

{% block title %}My Book Collections{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/collections.css' %}">
{% endblock %}

{% block content %}
{% include "bookshelf/navbar.html" %}
<!-- {% include "bookshelf/pagination.html" with page=page_obj %} -->
{% if collection_list %}
<div id="collection_list_table">
    <table border="1">
        <tr>
            <th>书单名</th>
            <th>简介</th>
        </tr>
        {% for collection in collection_list %}
        <tr>
            <td><a href="{% url 'bookshelf:bookshelf-collection' collection.id %}">{{ collection.name }}</a></td>
            <td>{{ collection.introduction }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% else %}
<p>No collections are available.</p>
{% endif %}
{% include "bookshelf/pagination.html" with page=page_obj %}
{% endblock %}